# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
terraform/build/

# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
*.egg-info/

# Editors / OS
.DS_Store
.idea/
.vscode/
